<div class="container mx-auto px-4">
	<header class="flex justify-between items-center py-4">
		<div class="flex items-center">
			<img src="assets/images/logo.webp" alt="App Logo" class="h-40 mr-4" />
			<nav class="flex space-x-4">
				<a routerLink="/" class="text-lg text-gray-700 hover:text-blue-500"
					>Home</a
				>
				<a
					routerLink="/search"
					class="text-lg text-gray-700 hover:text-blue-500"
					>Search</a
				>
				<a
					routerLink="/wishlist"
					class="text-lg text-gray-700 hover:text-blue-500"
					>Wishlist</a
				>
			</nav>
		</div>
	</header>
</div>
